<div class="devoured">
{{#each burger}}
	{{#if devoured}}
		<p>{{this.id}}. {{this.burger_name}}<button id={{id}} class="delete">X</button><button id={{id}} data-id={{burger_name}} class="makeAnother">Make Another!</button></p>
	{{/if}}
{{/each}}
</div>
<div class="undevoured">
	{{#each burger}}
		{{#unless devoured}}
			<p>{{this.id}}. {{this.burger_name}}</p>
			<button id={{id}} class="devour">Devour it!</button>
		{{/unless}}
	{{/each}}
</div>